@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button {
    @apply inline-flex h-10 items-center justify-center whitespace-pre-wrap rounded px-8 text-center font-headline text-sm font-bold leading-xs text-white transition-all md:h-12 md:text-base md:leading-sm lg:h-14 lg:gap-10;
  }
}

@layer components {
}

@layer utilities {
  .text-stroke-0 {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-stroke: 1px rgba(255, 255, 255, 0.5);
  }
}
