@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply overflow-hidden;
  }
}

@layer components {
}

@layer utilities {
  .text-stroke-0 {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-stroke: 1px rgba(255, 255, 255, 0.5);
  }
}
